
<h1>All events</h1>
<h2>You have total <%= @events.count %> events </h2> 
<%= button_to 'add a new data', new_event_path, method: :get %> <br/><br/><br/>


<% @events.each do |event|%>
<li><%= event.data %></li>



<%= button_to 'Parse', event_path(event), method: :get %>
<%= button_to 'Delete', event_path(event), method: :delete %><br/><br/>


<% end %>

<br/>
<br/>
<br/>
<br/>

