
<h1>All events : Total <%= @events.count %> events</h1>

<%= button_to 'Add a new log', new_event_path, method: :get %>
<%= button_to 'Parsed Logs', parsers_path, method: :get %> <br/><br/>


<% @events.each do |event|%>
<li><%= event.data %></li>



<%= button_to 'Parse', event_path(event), method: :get %>
<%= button_to 'Delete', event_path(event), method: :delete %><br/><br/>


<% end %>

<br/>
<br/>
<br/>
<br/>

