<h1>Log Details</h1>


<%= @event.data %>
<ul>
<li>Source Ip Address : <%= @srcIP  %></li>
<li>Source IP is Valid : <%= @srcIP_validation_check %></li>
<li>Source IP is Private : <%= @srcIP_private_check %></li>
<br/>
<li>Destination Ip Address : <%= @dstIP  %></li>
<li>Destination IP is Valid : <%= @dstIP_validation_check %></li>
<li>Destination IP is Priavte : <%= @dstIP_private_check %></li>
</ul>
<%= button_to 'Back',  events_path, method: :get %>

